@import '../../../GlobalStyles/GridAndMedia.scss';
.wrapper {
    @include media(xs, sm) {
        width: 20%;
    }
    @include media(md) {
        width: 10%;
    }
    @include media(lg, xl) {
        width: 30%;
    }
}
