@import '../../../GlobalStyles/GridAndMedia.scss';

.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;
    --search-area: 361px;

    width: 100%;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;

    @include media(xs, sm) {
        padding: 5px;
    }
    @include media(md) {
        padding: 0 15px;
    }
    @include media(lg, xl) {
        padding: unset;
    }
}
.inner {
    display: flex;
    padding: 0 var(--default-layout-horizontal-spacer);
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: var(--default-layout-width, 1150px);
}
.logo {
    cursor: pointer;
    display: flex;
}

.btn-more {
    cursor: pointer;
    @include media(xs, sm) {
        display: none;
    }
    @include media(md) {
        display: inline-block;
        margin-left: 10px;
    }
    @include media(lg, xl) {
        padding: 4px 8px;
        font-size: 2rem;
        margin-left: 28px;
        background-color: transparent;
    }
}
//actions
.actions {
    display: flex;
    align-items: center;
}
.btn-action {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #161823;
    padding: 4px 12px;
    font-size: 2.2rem;
    background-color: transparent;
}

.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 12px;
    cursor: pointer;
}
